.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;/*ここで最大幅を表示*/
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    padding: 10px;
}

.card {
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 1em;
    margin: 2em;
    float: left;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 10px;
}

.card__title {
    color: #282828;
    font-size: 14;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.site-body {
    background-color: #c4c4c4;
}

header {
    position:relative;
    margin: auto;
    overflow:hidden;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

footer {
    position: relative;
    margin: auto;
    overflow:hidden;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

.site-nav {
    background-color: #726666;
}